<div class="container mt-4 container-testimonial" id="depoimentos">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center mt-4" id="indique-mais">
                <h3 class="mat-primary font-weight-bold text-left"><b>Descubra um</b></h3>&nbsp;
                <h3 class="mat-primary font-weight-bold"><b>Brasil com o olhar</b></h3>&nbsp;
                <h3 class="mat-accent font-weight-bold fs-30"><b>da Coob+ ;)</b></h3>
            </div>
            <div class="text-center mt-4">
                <a class="link font-weight-bold" href="https://www.viajantego.com/blog/" target="_blank" rel="nofollow">VEJA NOSSO BLOG</a>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="{{ baseAssets }}/home/img-casal-481x557px.png" alt="Casal viajando">
        </div>
        <div class="col-md-4">
            <div class="text-center mt-4" id="indique-mais">
                <h3 class="mat-primary font-weight-bold"><b>Ganhe muitos</b></h3>
                <h3 class="mat-primary font-weight-bold pl-4 fs-30"><b>DOTZ com o</b></h3>
                <h3 class="mat-accent font-weight-bold fs-30"><b>Indique+</b></h3>
            </div>
            <div class="text-center mt-4">
                <a class="link font-weight-bold" href="https://coobrastur.com.br/dotz" target="_blank" rel="nofollow">CLIQUE AQUI</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <figure class="position-relative">
                <img class="img-fluid" src="{{ baseAssets }}/home/boxdepoimentos-1024x425px.png" alt="canvas depoimento">
                <figcaption class="depoimento">
                    <p class="mb-3">{{ testimonial?.testimonial }}</p>
                    <p class="nome-depoimento mb-0">{{ testimonial?.name }}</p>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a href="#indique-mais" class="btn-assine-depoimento font-weight-bold cursor-pointer">Assine agora</a>
        </div>
    </div>
</div>