<div class="container text-center mt-4" id="beneficios">
    <h3 class="mat-primary font-weight-bolder mb-0">Abrimos o caminho para os</h3>
    <h3 class="mat-primary font-weight-bolder pl-130">sonhos de quem <b class="ama-viajar">ama viajar</b></h3>
</div>
<div class="container mt-4">
    <div class="row justify-content-center font-beneficios">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3 mt-2 text-center">
                    <img class="img-fluid" src="{{ baseAssets }}/home/icoaviao-133x132px.png" alt="avião">
                </div>
                <div class="col-md-9" fxLayoutAlign="start center">
                    <b>São mais de 1.800 hotéis credenciados para você explorar todo o Brasil, como e quando quiser</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-2 text-center">
                    <img class="img-fluid" src="{{ baseAssets }}/home/icomala-133x132px.png" alt="avião">
                </div>
                <div class="col-md-9" fxLayoutAlign="start center">
                    <b>Com as nossas assinaturas, você economiza até 60% do valor das diárias nos hotéis</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-2 text-center">
                    <img class="img-fluid" src="{{ baseAssets }}/home/icodirecao-133x132px.png" alt="avião">
                </div>
                <div class="col-md-9" fxLayoutAlign="start center">
                    <b>Sem pressa, suas diárias tem até 3 anos de validade para você utilizar quando quiser</b>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3 mt-2 text-center">
                    <img class="img-fluid" src="{{ baseAssets }}/home/icohotel-133x132px.png" alt="avião">
                </div>
                <div class="col-md-9" fxLayoutAlign="start center">
                    <b>Todas as diárias são com café da manhã incluso para você e mais um acompanhante</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-2 text-center">
                    <img class="img-fluid" src="{{ baseAssets }}/home/icomontanha-133x132px.png" alt="avião">
                </div>
                <div class="col-md-9" fxLayoutAlign="start center">
                    <b>As reservas são feitas de maneira 100% digital, basta acessar a sua conta no nosso site</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mt-2 text-center">
                    <img class="img-fluid" src="{{ baseAssets }}/home/icocadeira-133x132px.png" alt="avião">
                </div>
                <div class="col-md-9" fxLayoutAlign="start center">
                    <b>Exclusividade do seguro viagem incluso em todas as assinaturas, sem custo adicional</b>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a href="#indique-mais" class="btn-assine-amo-viajar font-weight-bold cursor-pointer">Assine agora</a>
        </div>
    </div>
</div>