<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light mb-3">
        <div class="container-header" fxLayout="row" fxLayout.xs="row wrap" fxLayout.sm="row wrap" fxLayoutAlign="space-between center">
            <a class="navbar-brand" [routerLink]="'/'" fxFlex="26">
                <img class="img-logo img-fluid" src="{{ baseAssets }}/home/Logo-topo-239x66px.png" alt="Logo Coob +">
            </a>
            <a href="#" fxFlex="10">
                <img class="img-logo img-fluid" src="{{ baseAssets }}/pag-finalizar-compra/ambseguro-154x50px.png" alt="">
            </a>
        </div>
    </nav>
</header>
